* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.xlsx binary
*.xls binary
*.ipynb text eol=lf

EIS_dataset/metadata.html linguist-documentation
EIS_dataset/metadata.jsonld linguist-documentation
*.ipynb linguist-documentation
